### キャスト

*   数値を文字列に変換したりする
*   データ型を別の形に変換する

In [1]:
# 変数threeに3を代入
three = 3

# threeのタイプを確認し変数の中身を表示
print(type(three))
print(three)

# 文字列にキャスト
three_str = str(three)

# threeのタイプを確認し変数の中身を表示
print(type(three_str))
print(three_str)

<class 'int'>
3
<class 'str'>
3

In [2]:
# int型にキャスト
three_int = int(three)

# threeのタイプを確認し変数の中身を表示
print(type(three_int))
print(three_int)

# 変数three(int型)とthree_str(str型)は違うのでfalseが出る
print(three == three_str)

# 変数three(int型)とthree_int(int型)はおなじなのでtrueが出る
print(three == three_int)

<class 'int'>
3
False
True

### while文
*   while文は繰り返しの回数が決まっておらず、条件を満たしている限り処理を繰り返したい場合。
*   for文とwhile文の違いは繰り返し回数が決まっているか決まっていないか

In [5]:
# while文でiが100になるまで出力を続けるプログラム

i = 0

while i < 100:
    i = i + 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [4]:
# 簡略型

i = 0

while i < 100:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [6]:
# breakで0~9まで出力するときに、5で中断するプログラム

i = 0

while i < 10:
    print(i)
    i += 1
    if i == 5:
        break

0
1
2
3
4

### 集合



*   Pythonにおけるリストや辞書に似た複数の値を扱う事が出来るデータ型
*   数学の集合の概念と似ている

In [10]:
# 1～5までを格納した集合をaに入れる
a = {1, 2, 3, 4, 5}
print(a)

# 型確認
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [11]:
# 間違って同じ数字を格納した場合、重複部分が削除される。リストやタプルにはない機能。
b = {1, 2, 3, 3, 4}
print(b)

{1, 2, 3, 4}

In [12]:
# 順序が1から順になる。
c = {4, 3, 2, 1}
print(c)

{1, 2, 3, 4}

In [13]:
# 集合の演算
a = {1, 2, 3, 4, 5,}
print('a:', a)

b = {2, 3, 5, 7, 9}
print('b:', b)

# aとbの差
print(a - b)  # aにある2,3,5はbにもあるので1,4しか残らなくなる

# bとaの差
print(b - a)  # bにある2,3,5はaにもあるので9,7しか残らなくなる

# aとbの積集合
print(a & b)  # aとbの共通部分が取り出される

# aとbの和集合
print(a | b) # aとbを合わせたもの

# aとbの排他的論理和
print(a ^ b) # 共通部分を除いたもの

a: {1, 2, 3, 4, 5}
b: {2, 3, 5, 7, 9}
{1, 4}
{9, 7}
{2, 3, 5}
{1, 2, 3, 4, 5, 7, 9}
{1, 4, 7, 9}

### ラムダ式