### 変数と出力

In [ ]:
my_name = "ma"
print(my_name)

ma

In [2]:
# 自分の住んでいる国や都市をmy_countryとmy_cityという変数に代入し、print()関数を使用してそれらを出力してください。
my_country = "Japan"
my_city = "shinagawa-ku"

print(my_country + " " + my_city)

Japan shinagawa-ku

### 文字列、数値の操作

In [ ]:
first_name = "ma"
last_name = "da"
full_name = (first_name + " " + last_name)
print(full_name)

ma da

In [29]:
# 2つの数値aとbを受け取り、それらの合計、差、積、商を出力する関数calculate()を作成してください。
def calculate(a, b):
    print("Sum" , a + b)
    print("Difference:" , a - b)
    print("Product:" , a * b)
    print("Quotient:" , a / b)

a = 1
b = 2

calculate(a, b)

Sum 3
Difference: -1
Product: 2
Quotient: 0.5

### リスト

In [ ]:
fruits = [1, 2, 3]
print(fruits[1])

# 注意点、リスト名の後にindex指定。

2

In [30]:
# リストcolorsが与えられたとき、そのリストに"purple"を追加して、その後リスト全体をprint()関数で出力してください。

colors = ["red", "blue", "yellow"]
colors.append("purple")
print(colors)

['red', 'blue', 'yellow', 'purple']

### 繰り返し(for, while)

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
# 5から10までの数字を順に出力するループを作成してください。

for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [49]:
# while文を使用して、1から10までの数字を順番に出力するプログラムを書いてください。
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### 条件分岐

In [ ]:
num = 4
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

# 注意、正解をまずprintで出力して、falseならelifからelseで条件定義

Even

In [35]:
# 数値temperatureが与えられたとき、その数値が30以上なら"Hot"、20〜29なら"Warm"、それ以下なら"Cold"という文字列を返す関数check_temperature()を作成してください。
def check_temperature(temperature):
    if temperature >= 30:
        return "Hot"
    elif temperature >= 20:
        return "Warm"
    else:
        return "Cold"

temperature = 4
print(check_temperature(temperature))

Cold