### 変数と出力

In [ ]:
my_name = "ma"
print(my_name)

ma

In [ ]:
# 自分の住んでいる国や都市をmy_countryとmy_cityという変数に代入し、print()関数を使用してそれらを出力してください。
my_country = "Japan"
my_city = "shinagawa-ku"

print(my_country + " " + my_city)

Japan shinagawa-ku

In [ ]:
name = input("名前を入力してください: ")  # ユーザーから名前を入力
print("こんにちは、" + name + "さん！")

名前を入力してください: ma
こんにちは、maさん！

### 文字列、数値の操作

In [ ]:
first_name = "ma"
last_name = "da"
full_name = (first_name + " " + last_name)
print(full_name)

ma da

In [ ]:
# 2つの数値aとbを受け取り、それらの合計、差、積、商を出力する関数calculate()を作成してください。
def calculate(a, b):
    print("Sum" , a + b)
    print("Difference:" , a - b)
    print("Product:" , a * b)
    print("Quotient:" , a / b)

a = 1
b = 2

calculate(a, b)

Sum 3
Difference: -1
Product: 2
Quotient: 0.5

### リスト

In [ ]:
# 1から10までの整数を含むリストを作成し、それを表示してください。

number_list = list(range(1, 11))
print("1から10までの整数を含むリスト:", number_list)

1から10までの整数を含むリスト: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
fruits = [1, 2, 3]
print(fruits[1])

# 注意点、リスト名の後にindex指定。

2

In [ ]:
# リストcolorsが与えられたとき、そのリストに"purple"を追加して、その後リスト全体をprint()関数で出力してください。

colors = ["red", "blue", "yellow"]
colors.append("purple")
print(colors)

['red', 'blue', 'yellow', 'purple']

In [ ]:
#重複を削除した[1, 2, 3, 4, 5]を 与えられたリストから重複する要素を削除し、重複のない新しいリストを作成してください。たとえば、[1, 2, 2, 3, 4, 4, 5]というリストが与えられた場合、作成します。

original_list = [1, 2, 3, 3, 5, 4, 5]
unique_list = list(set(original_list))
print("重複のない整数リスト", unique_list)

重複のない整数リスト [1, 2, 3, 4, 5]

### 繰り返し(for, while)

In [ ]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
# 5から10までの数字を順に出力するループを作成してください。

for i in range(5, 11):
    print(i)

5
6
7
8
9
10

In [ ]:
# while文を使用して、1から10までの数字を順番に出力するプログラムを書いてください。
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### 条件分岐

In [ ]:
# ユーザーに整数を入力させ、その数が偶数か奇数かを判定して結果を表示してください。
i = int(input("整数を入力してください: "))
if i % 2 == 0:
    print("偶数")
else:
    print("奇数")

整数を入力してください: 2
偶数

In [ ]:
# 1から100までの整数の中で、3で割り切れる数の合計を計算してください。
total = 0
for i in range(1, 101):
    if i % 3 == 0:
        total += i
print("1から100までの整数の中で、3で割り切れる数の合計: ", total)

1から100までの整数の中で、3で割り切れる数の合計:  1683

In [ ]:
num = 4
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

# 注意、正解をまずprintで出力して、falseならelifからelseで条件定義

Even

In [ ]:
# 数値temperatureが与えられたとき、その数値が30以上なら"Hot"、20〜29なら"Warm"、それ以下なら"Cold"という文字列を返す関数check_temperature()を作成してください。
def check_temperature(temperature):
    if temperature >= 30:
        return "Hot"
    elif temperature >= 20:
        return "Warm"
    else:
        return "Cold"

temperature = 4
print(check_temperature(temperature))

Cold

### 関数

In [ ]:
# 与えられた2つの数値の平均を返す関数get_average(a, b)を作成してください。

def get_average(a, b):
    return (a + b) / 2

a = 1
b = 3

print("Average:", get_average(a, b))

Average: 2.0

### クラスメソッド

In [ ]:
# メソッドの基本形

class Dog: # Dogというclassの作成
    def __init__(self, name):
        self.name = name  # インスタンス変数の設定

    # メソッドの定義
    def bark(self):
        print(f"{self.name} says Woof!")

# インスタンスの作成
dog_instance = Dog("Buddy")

# メソッドの呼び出し
dog_instance.bark()

Buddy says Woof!

In [ ]:
# 文字列のリスト（例：["apple", "banana", "cherry"]）を持つFruitBasketクラスを作成します。このクラスには、リストに新しいフルーツを追加するメソッドadd_fruitを追加してください。
class FruitBasket:
    def __init__(self):
        self.fruits = ["banana", "apple", "cherry"]
    def add_fruit(self, fruit):
        self.fruits.append(fruit)

basket = FruitBasket()
basket.add_fruit("orange")
print(basket.fruits)

['banana', 'apple', 'cherry', 'orange']

In [ ]:
class Person():
    def __init__(self, first_name="bb", last_name="aa", age=12):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def introduce_yourself(self):
        print(f"My name is {self.first_name} {self.last_name} and I am {self.age} years old.")

# 使用例
p = Person()
p.introduce_yourself()

My name is bb aa and I am 12 years old.

In [ ]:
# Rectangleクラスを作成してください。このクラスは幅と高さの属性を持ち、面積を返すメソッドareaを持つ必要があります。
# 幅5、高さ10の長方形のオブジェクトを作成し、その面積を計算してください。
class Rectangle():
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

# Rectangleインスタンスを作成
rect = Rectangle(5, 10)

# 面積を計算して表示
print("面積:", rect.area())

面積: 50

In [ ]:
# Circleクラスを作成してください。このクラスは半径（radius）の属性を持ちます。円の面積を計算して返すメソッドareaを持つ必要があります。円の面積はπ（円周率）を使って計算します。面積の計算式はπ * 半径^2です。
# 円周の長さを計算して返すメソッドcircumferenceを持つ必要があります。円周の長さの計算式は2 * π * 半径です。次に、半径が5の円のオブジェクトを作成し、面積と円周の長さを計算して表示してください。
import math

class Circle():
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return  math.pi * self.radius**2

    def circumference(self):
        return 2 * math.pi * self.radius



circle = Circle(5)

print("円の面積:", circle.area())
print("円周の長さ:", circle.circumference())

円の面積: 78.53981633974483
演習の長さ: 31.41592653589793

### 様々なプログラム

In [1]:
# 1から9までの数値に対する九九の表を表示するプログラムを3行で作成してください。
for i in range(1, 10):
    for j in range(1, 10):
        result = i * j
        print(f"{i} × {j} = {result}", end="\t")
    print()  # 改行

1 × 1 = 1	1 × 2 = 2	1 × 3 = 3	1 × 4 = 4	1 × 5 = 5	1 × 6 = 6	1 × 7 = 7	1 × 8 = 8	1 × 9 = 9
2 × 1 = 2	2 × 2 = 4	2 × 3 = 6	2 × 4 = 8	2 × 5 = 10	2 × 6 = 12	2 × 7 = 14	2 × 8 = 16	2 × 9 = 18
3 × 1 = 3	3 × 2 = 6	3 × 3 = 9	3 × 4 = 12	3 × 5 = 15	3 × 6 = 18	3 × 7 = 21	3 × 8 = 24	3 × 9 = 27
4 × 1 = 4	4 × 2 = 8	4 × 3 = 12	4 × 4 = 16	4 × 5 = 20	4 × 6 = 24	4 × 7 = 28	4 × 8 = 32	4 × 9 = 36
5 × 1 = 5	5 × 2 = 10	5 × 3 = 15	5 × 4 = 20	5 × 5 = 25	5 × 6 = 30	5 × 7 = 35	5 × 8 = 40	5 × 9 = 45
6 × 1 = 6	6 × 2 = 12	6 × 3 = 18	6 × 4 = 24	6 × 5 = 30	6 × 6 = 36	6 × 7 = 42	6 × 8 = 48	6 × 9 = 54
7 × 1 = 7	7 × 2 = 14	7 × 3 = 21	7 × 4 = 28	7 × 5 = 35	7 × 6 = 42	7 × 7 = 49	7 × 8 = 56	7 × 9 = 63
8 × 1 = 8	8 × 2 = 16	8 × 3 = 24	8 × 4 = 32	8 × 5 = 40	8 × 6 = 48	8 × 7 = 56	8 × 8 = 64	8 × 9 = 72
9 × 1 = 9	9 × 2 = 18	9 × 3 = 27	9 × 4 = 36	9 × 5 = 45	9 × 6 = 54	9 × 7 = 63	9 × 8 = 72	9 × 9 = 81

In [4]:
# 与えられたリストから偶数の要素だけを取り出して新しいリストを作成するPythonプログラムを3行で作成してください。
l =  [1, 2, 3, 4]
gusu = [x for x in l if x % 2 == 0]
print(gusu)

[2, 4]

In [6]:
# 与えられたリストから奇数の要素だけを取り出して新しいリストを作成するPythonプログラムを3行で作成してください。リスト内包表記を使用してください。
l = [1, 2, 3, 4]
kisu = [x for x in l if x % 2 == 1]
print(kisu)

[1, 3]

In [ ]:
# ユーザーに名前を入力させ、挨拶のメッセージとして "Hello, [名前]!" を表示するコードを書いてください。
name = input("名前を入力してください: ")
print("Hello" + name + "!")

名前を入力してください: aa
Helloaa!

In [ ]:
# 乱数を使って1から10までのランダムな整数を生成し、それを表示するコードを書いてください。
import random
print(random.randint(1, 10))
# "random integer"（ランダム整数）の略

5

In [ ]:
# 与えられたリスト [1, 2, 3, 4, 5] の各要素を2倍して新しいリストを作成し、それを表示するコードを書いてください。
l = [1, 2, 3, 4, 5]
doubled_list = [x * 2 for x in l]
print(doubled_list)

[2, 4, 6, 8, 10]

In [ ]:
# 与えられたリスト [3, 7, 1, 2, 8] の要素の合計を計算し、その合計値を表示してください。
l = [3, 7, 1, 2, 8]
sum_list = sum(l)
print(sum_list)

21

In [ ]:
# 与えられた文字列 "Python" を逆順にして表示してください。
l = "Python"
gyaku = l[::-1]
print(gyaku)

nohtyP

In [ ]:
# 与えられたリスト [1, 2, 2, 3, 4, 4, 5] から重複する要素を削除し、重複のない新しいリストを作成してください。
l = [1, 2, 2, 3, 4, 4, 5]
answer = list(set(l))
print(answer)

[1, 2, 3, 4, 5]

### 簡易アプリケーション

In [ ]:
# 簡易電卓アプリ
while True:
    expression = input("数式を入力してください(終了するにはqを): ")
    if expression.lower() == "q":
        break

# tryはプログラム内でエラーが予想される箇所を指定するために使用されます。
    try:
        # 数式を評価して計算結果を表示.。evalは、文字列として表現されたPythonの式を評価し、その結果を返すための組み込み関数です。
        result = eval(expression)
        print("計算結果:", result)
    except:
        print("無効な数式です。もう一度試してください。")
        #  exceptは、tryブロック内でエラーが発生した場合に実行されるコードを指定するために使用されます。

数式を入力してください(終了するにはqを): 5*1
計算結果: 5
数式を入力してください(終了するにはqを): 8/2
計算結果: 4.0
数式を入力してください(終了するにはqを): Q

In [ ]:
todo_list = []

while True:
    task = input("新しいタスクを入力してください(終了するにはqを入力): ")
    if task.lower() == "q":  # lower()は大文字を小文字に変換する
        break
    todo_list.append(task)
print("Todoリスト:", todo_list)

新しいタスクを入力してください(終了するにはqを入力): q
Todoリスト: []

In [ ]:
# 身長（cm）と体重（kg）を入力として受け取り、BMI（Body Mass Index）を計算して表示するアプリケーションを作成してください。

def calculate_bmi(height_cm, weight_kg):
    height_m = height_cm / 100
    bmi = weight_kg / (height_m ** 2)

    return bmi

def main():
    height_cm = float(input("身長(cm)を入れて下さい: "))
    weight_kg = float(input("体重(kg)を入れて下さい: "))

    bmi = calculate_bmi(height_cm, weight_kg)
    print("あなたのBMIは {:.2f} です。".format(bmi))

if __name__ == "__main__":
    main()

身長(cm)を入れて下さい: 180
体重(kg)を入れて下さい: 88
あなたのBMIは 27.16 です。

In [ ]:
# ToDoリストの初期化
todo_list = []

# ToDoリストを表示
for i, task in enumerate(todo_list, start=1):
    print(f"{i}. {task}")

# タスクを追加
task = input("新しいタスクを入力してください: ")
todo_list.append(task)

# タスクを削除
index = int(input("削除したいタスクの番号を入力してください: "))
if 1 <= index <= len(todo_list):
    removed_task = todo_list.pop(index - 1)
    print(f"{removed_task} を削除しました。")
else:
    print("無効な番号です。")

新しいタスクを入力してください: 55
削除したいタスクの番号を入力してください: 1
55 を削除しました。

In [ ]:
}